.analytics-nav {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin: 2em auto;
}

.analytics-nav a {
  color: #B5B9BC;
  padding-bottom: 4px;
  margin-right: 16px;
}

.analytics-nav a:last-child {
  margin-right: 0;
}
.analytics-nav a.active {
  color: #9DD22D;
  border-bottom: 2px solid #9DD22D;
}
